* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: cursive;
    width: 100%;
}

body {
    width: 300px;
    /* height: 100vh; */
    margin: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    flex-direction: column;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #d3d3d382;
}

h3 { 
    font-size: 13pt;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    flex-direction: column;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

/* add task styling */

.add-task { 
    display: none;
}

form {
    margin: 1rem 0;
    /* height: 65vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-label:first-child {
    margin-bottom: 1rem;
}

.form-label label {
    vertical-align: top;
    font-size: 12pt;
}

.form-label input {
    /* width: 90%; */
    padding: .2rem;
    border-radius: .1rem;
    border: 1px solid rgb(202, 202, 202);
}

.form-label textarea {
    /* width: 90%; */
    padding: .2rem;
    border-radius: .1rem;
    border: 1px solid rgb(202, 202, 202);
    /* height: 100%; */
    min-height: 200px;
    resize: none;
}

.form-label label.title-label {
    margin-right: 1.3rem;
}

button {
    margin-top: 1rem;
    background-color: #6c6c6c;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(43, 43, 43);
    color: white;
}

/* styling colums */

.tasks { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.task {
    padding: 1rem;
    box-shadow: inset 0px -1px 1px 0px darkgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task a {
    width: 10px;
}

.dz0-none {
    display: none;
}